@model ePRom.Models.PatientResetPassword
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="row vertical-offset-10" ng-app="loginApp" ng-controller="ClearController">
    <div id="divloader" class="loading-box" style="display:none;"></div>
    <div class="col-md-4 col-md-offset-4">
        <div class="panel login-panel">
            <div class="panel-body">
                <img class="login-logo" src="~/Resources/Images/NEW_PHOTO/Logo.png" />
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <fieldset id="loginForm">
                        <div class="form-group">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control txt-login", @placeholder = "New Password" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "form-control txt-login", @placeholder = "Confirm New Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                        </div>
                        <div class="form-group">
                            <label class="control-label">Secret Question:</label>
                            @{
                                foreach (var item in Model.SecretQuestionList)
                                {
                                    <div>
                                        @Html.RadioButtonFor(model => model.SecretQuestionId, item.ID) @Html.Label(item.Questions)
                                    </div>
                                }
                            }
                        </div>
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Answer, new { @class = "form-control txt-login", @placeholder = "Answer" })
                            @Html.ValidationMessageFor(m => m.Answer)
                        </div>

                        <input class="btn btn-lg btn-warning btn-block btn-login" type="submit" value="Reset Password">
                    </fieldset>
                }
            </div>
        </div>
        <div class="panel login-register-panel">
            <div class="panel-body">

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}