<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Resources/NEW_DESIGN/bootstrap3.3.7.min.css" rel="stylesheet" />
    <link href="~/Resources/styles/font-awesome.css" rel="stylesheet" />
    <link href="~/Resources/styles/animate.css" rel="stylesheet" />
    <link href="~/Resources/styles/toaster.css" rel="stylesheet" />
    <link href="~/Resources/styles/angular-material.min.css" rel="stylesheet" />

    <link href="~/Resources/NEW_DESIGN/header.css" rel="stylesheet" />
    <link href="~/Resources/NEW_DESIGN/style.css" rel="stylesheet" />
    <link href="~/Resources/NEW_DESIGN/footer.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular-js")
    @Scripts.Render("~/bundles/user-js")
</head>
<body ng-app="app">
    <header>
        <div class="container">
            <div class="col-md-8">
                <img src="~/Resources/Images/NEW_PHOTO/Logo.png" class="img-logo" />
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-md-4">
                    <div class="col-md-4 set-lbl">
                        <img src="~/Resources/Images/Male.png" class="img-male" />
                        <h5 class="lbl-title">PRACTICE</h5>
                    </div>
                    <div class="col-md-8 menu-ddl">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="username">@User.Identity.Name <i class="fa fa-navicon"></i></span>
                        </a>
                        <ul class="dropdown-menu user-dropdown menu-ul">
                            <li class="menu-li">
                                @using (Html.BeginForm("MyDetails", "Practice", FormMethod.Post, new { id = "id" }))
                                {
                                    <a href="javascript:document.getElementById('id').submit()" class="menu-link"><i class="fa fa-list-alt"></i> My Detail</a>
                                }
                            </li>
                            <li class="menu-li">
                                @using (Html.BeginForm("LogOff", "Provider", FormMethod.Post, new { id = "logoutForm" }))
                                {
                                    <a href="javascript:document.getElementById('logoutForm').submit()" class="menu-link"><i class="fa fa-power-off"></i> Log off</a>
                                }
                            </li>
                        </ul>
                    </div>
                </div>
            }
        </div>
    </header>

    <img src="~/Resources/Images/NEW_PHOTO/header_img.png" class="img-banner" />
    <toaster-container toaster-options="{'position-class': 'toast-bottom-left'}"></toaster-container>

    <section>
        @RenderSection("featured", required: false)
        <div class="container">
            <div class="col-xs-12">
                <h3 class="set-page-title">@ViewBag.PageTitle</h3>

                @RenderBody()
            </div>
        </div>
        @RenderSection("scripts", required: false)
    </section>

    <footer>
        <a href="#"> Company </a> <b>|</b>
        <a href="#"> Contact Us </a> <b>|</b>
        <a href="#"> Terms and Conditions </a> <b>|</b>
        <a href="#"> Copyright Notice</a>
    </footer>
    
    <script src="~/Resources/scripts/third-party/angular-filter.js"></script>
    <script src="~/Resources/scripts/third-party/bootstrap-fileinput.js"></script>
    <script src="~/Resources/scripts/third-party/bootstrap-select.min.js"></script>
    <script src="~/Resources/scripts/third-party/components-bootstrap-select.min.js"></script>
    <script src="~/Resources/scripts/third-party/bootstrap-tabdrop.js"></script>
    <script src="~/Resources/scripts/third-party/jquery.slimscroll.min.js"></script>
</body>
</html>